@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #ffffff;
}

body {
  background-color: #0f172a !important;
  color: white !important;
  margin: 0;
}