@tailwind base;
@tailwind components;
@tailwind utilities;

/* Este bloque asegura que no haya espacios blancos en los bordes */
html, body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Fondo azul noche profesional */
  color: white;
}